.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--text-muted);
  font-size: 1.1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  width: 100%;
}